
#categories {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film1 {
    background-image: url(../photos/banners/Howl.jpg);
    background-size: cover;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;

    #ca{
        text-shadow: 0.03em 0.03em 0.08em white;
        text-align: center;
        color: black;
        font-size:x-large;
        font-weight: bold;
       
        
    }
}

.film2 {
    background-image: url(../photos/banners/Castillo.jpg);
    background-size: cover;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film3 {
    background-image: url(../photos/banners/chihiro.png);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film4 {
    background-image: url(../photos/banners/mononoke.png);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film5 {
    background-image: url(../photos/banners/totoro.jpg);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film6 {
    background-image: url(../photos/banners/ponyo.jpg);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}