#form {
    background-image: url(/public/photos/banners/banner3.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 10em;
    border: 1px solid #CCC;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

form {
    display: inline-block;
    text-align: right;
    width: 600px;
    padding-top: 4.5em;
}