body {
    background-color: #E5E5E5;
    max-width: 800px;
    margin: 0px auto;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    h1 {
        text-shadow: 0.03em 0.03em 0.08em black;
        text-align: left;
        margin-left: 2em;
    }
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            position: relative;
            overflow: visible;
            margin-left: 10px;
            align-items: center;
            img {
                height: 120px;
                width: 170px
            }
            span {
                font-size: 22px;
            }
        }
    }
}

header {
    display: flex;
    background-image: url(/public/assets/photos/banners/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
    height: 114px;
    #company {
        align-self: flex-end;
    }
    .logotype {
        position: absolute;
        width: 20%;
        height: 20%;
    }
    nav {
        margin-top: 40px;
        margin-left: 1%;
        display: flex;
        img {
            max-width: 40px;
            padding: 4px;
        }
        .movies {
            padding: 0%;
            height: fit-content;
            align-self: center;
        }
    }
    h1 {
        text-shadow: 0.03em 0.03em 0.08em black;
        text-align: center;
        margin-left: 2em;
    }
}

h2 {
    text-shadow: 0.03em 0.03em 0.08em white;
    text-align: center;
}


.banner1 {
    background-image: url(/public/assets/photos/banners/Howl3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 800px;
    height: 200px;
    margin-top: 3em;
    text-align: center;
    font-size: 30px;
}

footer {
    text-align: center;
    background-color: #48D9A6;
    max-width: 800px;
}