    @import 'footer.scss';
    @import 'header.scss';
    @import 'homepage.scss';
    @import 'banners.scss';
    @import 'enlaces.scss';
    h2 {
        text-shadow: 0.05em 0.05em 0.1em rgb(0, 0, 0);
        text-align: center;
        color: white;
    }
    
    h1 {
        text-shadow: 0.03em 0.03em 0.08em black;
        text-align: left;
        margin-left: 2em;
    }
    
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        p {
            position: relative;
            overflow: visible;
            margin-left: 10px;
            align-items: center;
            img {
                height: 130px;
                width: 180px
            }
            span {
                font-size: 22px;
            }
        }
    }