@import 'footer.scss';
@import 'banners.scss';
@import 'header.scss';

body {
    background-color: #E5E5E5;
    max-width: 800px;
    margin: 0px auto;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    h2 {
        text-shadow: 0.05em 0.05em 0.1em rgb(0, 0, 0);
        text-align: center;
        color: white;
    }

    h1 {
        text-shadow: 0.03em 0.03em 0.08em black;
        text-align: left;
        margin-left: 2em;
    }
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .necklaceProductPage{
            position: relative;
            margin: 0%;
        }
        p {
            position: relative;
            overflow: visible;
            margin-left: 10px;
            align-items: center;
            img {
                height: 120px;
                width: 170px
            }
            span {
                font-size: 22px;
            }
        }
    }

    a {
        margin-left: 700px;
        svg {
            background-color: #48D9A6;
            padding: 5px 20px;
            max-width: 40px;
            cursor: pointer;
            border: none;
            text-shadow: 0.01em 0.01em 0.04em black;
            border-radius: 5px;
        }
    }
}

