    @import 'footer.scss';
    @import 'header.scss';
    @import 'homepage.scss';
    @import 'banners.scss';
    @import 'enlaces.scss';
    h2 {
        text-shadow: 0.05em 0.05em 0.1em rgb(0, 0, 0);
        text-align: center;
        color: white;
    }
    
    h1 {
        text-shadow: 0.03em 0.03em 0.08em black;
        text-align: left;
        margin-left: 2em;
    }
    
    div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .necklaceProductPage{
            position: relative;
            margin: 0%;
        }
        p {
            position: relative;
            overflow: visible;
            margin-left: 10px;
            align-items: center;
            img {
                height: 130px;
                width: 180px;
                cursor:pointer
            }
            span {
                font-size: 22px;
            }
        }
<<<<<<< HEAD
=======
    }

    
    a {
        margin-left: 700px;
        svg {
            background-color: #48D9A6;
            padding: 5px 20px;
            max-width: 40px;
            cursor: pointer;
            border: none;
            text-shadow: 0.01em 0.01em 0.04em black;
            border-radius: 5px;
        }
>>>>>>> e61989500415e395996c7580815cac95ebe28c65
    }