body {
    background-color: #E5E5E5;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-image: url(/public/assets/photos/banners/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 800px;
    height: 114px;
    #company {
        align-self: flex-end;
    }
}

.banner1 {
    background-image: url(/public/assets/photos/banners/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 800px;
    height: 150px;
    margin-top: 3em;
}

.logotype {
    position: absolute;
    width: 20%;
    height: 20%;
}

nav {
    margin-top: 40px;
    margin-left: 22%;
    display: flex;
    img {
        max-width: 40px;
        padding: 4px;
    }
    .movies {
        padding: 0%;
        height: fit-content;
        align-self: center;
    }
}

footer {
    text-align: center;
    background-color: #48D9A6;
    max-width: 800px;
}

h1 {
    text-shadow: 0.03em 0.03em 0.08em black;
    text-align: left;
    margin-left: 2.8em;
}

h2 {
    text-shadow: 0.03em 0.03em 0.08em white;
    text-align: center;
}

#categories {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film1 {
    background-image: url(../photos/banners/Howl.jpg);
    background-size: cover;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;

    #ca{
        text-shadow: 0.03em 0.03em 0.08em white;
        text-align: center;
        color: black;
        font-size:x-large;
        font-weight: bold;
       
        
    }
}

.film2 {
    background-image: url(../photos/banners/Castillo.jpg);
    background-size: cover;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film3 {
    background-image: url(../photos/banners/chihiro.png);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film4 {
    background-image: url(../photos/banners/mononoke.png);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film5 {
    background-image: url(../photos/banners/totoro.jpg);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

.film6 {
    background-image: url(../photos/banners/ponyo.jpg);
    background-size: cover;
    background-position: center;
    width: 20em;
    height: 6em;
    text-align: center;
    border: solid black 2px;
    margin-right: 3em;
    margin-bottom: 3em;
}

#form {
    background-image: url(/public/photos/banners/banner3.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    height: 10em;
    border: 1px solid #CCC;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

form {
    display: inline-block;
    text-align: right;
    width: 600px;
    padding-top: 4.5em;
}
