footer {
  text-align: center;
  background-color: #48D9A6;
  max-width: 800px;
  float: none;
}

.banner1 {
  background-image: url(/public/assets/photos/banners/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 800px;
  height: 200px;
}

.banner2 {
  background-image: url(/public/assets/photos/banners/Howl3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 800px;
  height: 200px;
}

.banner {
  margin-top: 2em;
  text-align: center;
  font-size: 30px;
}

#categories {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.film1 {
  background-image: url(../photos/banners/Howl.jpg);
  background-size: cover;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}
.film1 #ca {
  text-shadow: 0.03em 0.03em 0.08em white;
  text-align: center;
  color: black;
  font-size: x-large;
  font-weight: bold;
}

.film2 {
  background-image: url(../photos/banners/Castillo.jpg);
  background-size: cover;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.film3 {
  background-image: url(../photos/banners/chihiro.png);
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.film4 {
  background-image: url(../photos/banners/mononoke.png);
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.film5 {
  background-image: url(../photos/banners/totoro.jpg);
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.film6 {
  background-image: url(../photos/banners/ponyo.jpg);
  background-size: cover;
  background-position: center;
  width: 20em;
  height: 6em;
  text-align: center;
  border: solid black 2px;
  margin-right: 3em;
  margin-bottom: 3em;
}

#form {
  background-image: url(/public/photos/banners/banner3.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  height: 10em;
  border: 1px solid #CCC;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

form {
  display: inline-block;
  text-align: right;
  width: 600px;
  padding-top: 4.5em;
}

header {
  display: flex;
  background-image: url(/public/assets/photos/banners/banner2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 800px;
  height: 114px;
}
header #company {
  align-self: flex-end;
}

.logotype {
  position: absolute;
  width: 20%;
  height: 20%;
}

nav {
  margin-top: 40px;
  margin-left: 20%;
  display: flex;
}
nav #cart {
  background-image: url(/public/assets/photos/cart-shopping-solid.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 60px;
  padding: 4px;
}
nav #cart #cartNumber {
  margin-top: 0%;
  margin-left: 6px;
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  text-shadow: 2px;
}
nav #home {
  background-image: url(/public/assets/photos/house-chimney-solid.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 60px;
  padding: 4px;
}
nav #droplist {
  background-image: url(/public/assets/photos/film-solid.svg);
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
  width: 60px;
  height: 60px;
  padding: 4px;
}
nav .movies {
  padding: 0%;
  height: fit-content;
  align-self: center;
}

h1 {
  text-shadow: 0.03em 0.03em 0.08em black;
  text-align: left;
  margin-left: 2.8em;
}

h2 {
  text-shadow: 0.05em 0.05em 0.1em rgb(0, 0, 0);
  text-align: center;
  color: white;
}

h1 {
  text-shadow: 0.03em 0.03em 0.08em black;
  text-align: left;
  margin-left: 2em;
}

div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
div .necklaceProductPage {
  position: relative;
  margin: 0%;
}
div p {
  position: relative;
  overflow: visible;
  margin-left: 10px;
  align-items: center;
}
div p img {
  height: 130px;
  width: 180px;
  cursor: pointer;
}
div p span {
  font-size: 22px;
}

a {
  margin-left: 700px;
}
a svg {
  background-color: #48D9A6;
  padding: 5px 20px;
  max-width: 40px;
  cursor: pointer;
  border: none;
  text-shadow: 0.01em 0.01em 0.04em black;
  border-radius: 5px;
}

/*# sourceMappingURL=gallery.css.map */
